<div class="grid_12">
	<div id="Home" class= "light-bg round-corners shadow">
		<div id="home-title">Hi, it's Riccardo Neri!</div>
		<div class="round-corners" id="home-home" onclick = "window.location.href = '<%= home_path %>'"></div>
	<div class="clear"></div><br />
	</div>
</div>