<h1>Sessions#home</h1>
<p>Find me in app/views/sessions/home.html.erb</p>

<div id="home-foods">
	<h1>Foods</h1>	
	<%= link_to "List foods", show_foods_path %>
</div>

<div id="home-meals">
	<h1>Meals</h1>	
	<%= link_to "List meals", show_meals_path %>
</div>

<div id="home-other">
	<h1>Other</h1>
	<%= @current_user.username if @current_user %>
	<%= link_to "logout", logout_path %>
</div>