<% @page_title = "BlacksCorner | Edit medicine" %>
<%= render 'shared/errors', :object => @medicine %>
<div class= "Edit medicine">
	<h1>Edit medicine</h1>
	<%= render 'fields', :m => @medicine, :submit_msg => 'Update' %><br />
</div>