<% @page_title = "BlacksCorner | New medicine" %>
<%= render 'shared/errors', :object => @medicine %>
<div class= "Add medicine">
	<h1>New medicine</h1>
	<%= render 'fields', :m => @medicine, :submit_msg => 'Create' %><br />
</div>