<% @page_title = "BlacksCorner | New sympton" %>
<%= render 'shared/errors', :object => @sympton %>
<div class= "Edit symptom">
	<h1>Edit symptom</h1>
	<%= render 'fields', :s => @sympton, :submit_msg => 'Update' %><br />
</div>