<% @page_title = "BlacksCorner | New sympton" %>
<%= render 'shared/errors', :object => @sympton %>
<div class= "Add symptom">
	<h1>Add symptom</h1>
	<%= render 'fields', :s => @sympton, :submit_msg => 'Create' %><br />
</div>