<h1>symptons list</h1>

<% if !@symptons.nil? %>
	<% @symptons.each do |f| %>
		<div class="sympton">
			<%= f.description %>
			<%= link_to "destroy", delete_sympton_path(:id => f.id) %>
		</div>
	<% end %>
<% end %>

<%= link_to "home", home_path %>
<%= link_to "Add sympton", add_sympton_path %>