<% if object.errors.any? %>
	<div class="grid_8 prefix_2">
		<div id="error-container" class="light-bg round-corners shadow">
			<h2>
				<%= pluralize(object.errors.count, "Error") %>
				prohibited save operation:
			</h2>
			<p>There were problem with the following fields:</p>
			<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
<% end %>