<% if flash.any? %>
	<div class="grid_6 prefix_3">
		<div id="error-container">
			<% if flash[:error] -%>
			  	<div id="errors">
					<p class='error'>
						<%=h flash[:error] %>
					</p>
				</div>
			<% end -%>
			<% if flash[:notice] -%>
			  	<div id="notice">
					<p class='notice'>
						<%=h flash[:notice] %>
					</p>
				</div>
			<% end -%>
		</div>
	</div>
<% end%>