<% @page_title = "BlacksCorner | Edit food" %>
<%= render 'shared/errors', :object => @food %>
<div class= "Edit food">
	<h1>Edit food</h1>
	<%= render 'fields', :f => @food, :submit_msg => 'Update' %><br />
</div>