<% @page_title = "BlacksCorner | New food" %>
<%= render 'shared/errors', :object => @food %>
<div class= "Add food">
	<h1>Sign Up</h1>
	<%= render 'fields', :f => @food, :submit_msg => 'Create' %><br />	
</div> 