/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require text.css
 *= require 960.css
 *= require_self
 *= require_tree .
 */

body { 
	background: #000 url(images/bg.png) repeat; 
	color: white;
}

#Home {
	text-align: left;
	padding: 18px;
	margin: 15px;
}

div#home-logout.round-corners {
	background: url(images/logout.png) no-repeat right center #fff;
	height: 40px;
	margin-bottom: 25px;
}

.light-bg { 
	color: black;
	background: #000 url(images/light-bg.jpg) repeat; 
	text-align: center;	
	border: 2px solid #a6a6a6;
}

.round-corners {
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.shadow {
	box-shadow:5px 5px 10px #000;
	-webkit-box-shadow:5px 5px 10px #000;
	-moz-box-shadow: 5px 5px 5px #000;
}

#Login_Form {
	padding: 25px;
	margin: 15px;
}

p.notice {
	margin: 0px;
}

h1 {
	color: #ce0016;
}

a {
	color: #5b0386;
	text-decoration: none;
}

#error-container {	
	margin: 25px;
	padding: 15px;
	font-size: 150%;
}

#Home div.grid_5 {
	border: 1px solid #a6a6a6;
	margin: 15px;
	box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	-moz-box-shadow: 2px 2px 5px #000;
	background: #fff;
	height: 150px;
	width: 400px;
}

div#home-foods.grid_5.round-corners {
	background: #fff url(images/food-bg.jpg) repeat;
}

div#home-meals.grid_5.round-corners {
	background: #fff url(images/meal-bg.jpg) repeat;
}

div#home-symptons.grid_5.round-corners {
	background: #fff url(images/symptom-bg.jpg) repeat;
}

div#home-medicines.grid_5.round-corners {
	background: #fff url(images/medicines-bg.jpg) repeat;
}

#notice {
	color: #db7c0b;
	font-weight: bold;
}