/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require text.css
 *= require 960.css
 *= require_self
 *= require_tree .
 */

body { 
	background: #000 url(images/bg.png) repeat; 
	color: white;
}

#Home, #Food, #Meal, #Medicine, #Symptom {
	text-align: left;
	padding: 18px;
	margin: 15px;
}

div#home-logout, div#home-home, div#home-settings {
	background: url(images/logout.png) no-repeat right center #fff;
	height: 40px;
	margin-bottom: 25px;
	margin-left: 15px;
	float: right;
	width: 45px;
}

div#home-home {
	background: url(images/home.png) no-repeat right center #fff;
}

div#home-settings {
	background: url(images/settings.png) no-repeat right center #fff;
}

.light-bg { 
	color: black;
	background: #000 url(images/light-bg.jpg) repeat; 
	text-align: center;	
	border: 2px solid #a6a6a6;
}

.round-corners {
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.shadow {
	box-shadow:5px 5px 10px #000;
	-webkit-box-shadow:5px 5px 10px #000;
	-moz-box-shadow: 5px 5px 5px #000;
}

#Login_Form {
	padding: 25px;
	margin: 15px;
}

p.notice {
	margin: 0px;
}

h1 {
	color: #ce0016;
}

#home-title {
	font-weight: bold;
	font-size: 24px;
	float: left;
	color: #515151;
}

a {
	color: #970000;
	text-decoration: none;
}

#error-container {	
	margin: 25px;
	padding: 15px;
	font-size: 150%;
}

#Home div.grid_5 {
	border: 1px solid #a6a6a6;
	margin: 15px;
	box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	-moz-box-shadow: 2px 2px 5px #000;
	background: #fff;
	height: 150px;
	width: 400px;
}

div#home-foods.grid_5.round-corners {
	background: #fff url(images/food-bg.jpg) repeat;
}

div#home-meals.grid_5.round-corners {
	background: #fff url(images/meal-bg.jpg) repeat;
}

div#home-symptons.grid_5.round-corners {
	background: #fff url(images/symptom-bg.jpg) repeat;
}

div#home-medicines.grid_5.round-corners {
	background: #fff url(images/medicines-bg.jpg) repeat;
}

#notice {
	color: #db7c0b;
	font-weight: bold;
}

#Login-Pic {
	width: 100px;
	height: 140px;
	background: url(images/login.png) no-repeat center #fff;
	float: left;
	margin-left: 25px;
}

.tooltip{
    position:absolute;
    z-index:999;
    left:-9999px;
    background-color:#dedede;
    padding:5px;
    border:1px solid #fff;
    width:500px;
}

.tooltip p{
    margin:0;
    padding:0;
    color:#fff;
    background-color:#222;
    padding:2px 7px;
}


div.alerts {
	display: inline-block;	
}

div.symptons-alert-0, div.symptons-alert-1,
div.symptons-alert-2, div.symptons-alert-3, div.symptons-alert-4, div.symptons-alert-5,
div.symptons-alert-6, div.symptons-alert-7, div.symptons-alert-8, div.symptons-alert-9,
div.symptons-alert-10, div.symptons-alert-11, div.symptons-alert-12, div.symptons-alert-13,
div.symptons-alert-14, div.symptons-alert-15 {
	height: 30px;
	width: 30px;
}

div.symptons-alert-2, div.symptons-alert-3, div.symptons-alert-4, div.symptons-alert-5 {
	background-image: url(images/yellow-danger.png);
}

div.symptons-alert-0, div.symptons-alert-1 {
	background-image: url(images/green-danger.png);
}

div.symptons-alert-6, div.symptons-alert-7, div.symptons-alert-8, div.symptons-alert-9 {
	background-image: url(images/red-danger.png);
}

div.symptons-alert-10, div.symptons-alert-11, div.symptons-alert-12, div.symptons-alert-13,
div.symptons-alert-14, div.symptons-alert-15 {
	background-image: url(images/black-danger.png);
}
